<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>后台 - 大鲨鱼进销存系统</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        iframe {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10+ and Edge */
            user-select: none; /* Standard syntax */
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 头部区域 -->
    <div class="layui-header">
        <div th:replace="fragments/header::header"></div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域 -->
            <div th:replace="fragments/navbar::navbar"></div>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" id="main">
            <iframe src="" frameborder="0" name="content" id="content"
                    style="width: 100%; height: 610px; border-radius: 2px;"></iframe>
        </div>
    </div>
</div>
<script src="../static/layui/layui.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    var u = window.location.href;
    if (u.indexOf('#') < 0) {
        window.location.href = '/index' + '#/dashboard'
    }
</script>
</body>
</html>
