<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shark.erp.mapper.GoodsMapper">
    <select id="selectAllGoods" resultType="Goods">
        select *
        from goods
    </select>

    <select id="selectGoodsByName" parameterType="java.lang.String" resultType="Goods">
        select *
        from goods
        where goods_name like '%${key}%'  <!--#{ }写在字符串中不能识别，必须这么写-->
    </select>

    <insert id="insertGoods" parameterType="Goods">
        insert into goods
        values (#{id}, #{category}, #{goodsName}, #{productionTime}, #{purchaseTime}, #{expirationTime},
                #{unitPrice}, #{inventory})
    </insert>

    <delete id="deleteGoods" parameterType="java.lang.Integer">
        delete
        from goods
        where id = #{id}
    </delete>

    <update id="updateGoods" parameterType="Goods">
        update goods
        set category=#{category},
            goods_name=#{goodsName},
            production_time=#{productionTime},
            purchase_time=#{purchaseTime},
            expiration_time=#{expirationTime},
            unit_price=#{unitPrice},
            inventory=#{inventory}
        where id = #{id}
    </update>


    <select id="selectDistinctCategory" resultType="java.lang.String">
        select distinct category
        from goods
    </select>

    <select id="selectGoodsByNameAndCategory" parameterType="java.lang.String" resultType="Goods">
        select *
        from goods
        where goods_name like '%${name}%'
          and category = #{category}
    </select>
</mapper>